.Title {
	background: #76BBA7;
	color: #000000;
	text-align: center;
	width: 1200px;
	padding: 20px;
	font-size: 40px;
}

.Title > div {
	width: 300px;
	margin: 0 auto;
	padding: 15px;
	font-size: 30px;
	background-color: #B5D6CD;
}